<ion-header>
  <ion-toolbar>
    <ion-title>Figuras Geométricas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Seleccione una figura</ion-label>
    <ion-select [(ngModel)]="figuraSeleccionada">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngIf="figuraSeleccionada === 'circulo'">
    <app-circulo></app-circulo>
  </ng-container>

  <ng-container *ngIf="figuraSeleccionada === 'triangulo'">
    <app-triangulo></app-triangulo>
  </ng-container>
</ion-content>



